* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'OCR A Std', monospace;
    color:white;
}
main,
.site-name {
    background-color: #263159;
}

a,
.btn-no-style,
#comment-subtitle {
    color: rgb(3, 3, 3);
}

a:hover,
.btn-no-style:hover {
    color: #495579;
}
a {
    text-decoration: none;
    font-weight: bold;
    transition: color .4s;
}

button {
    background-color: #7e8083;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #251749;
}

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.go-back {
    color: white;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-section {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

header,
.site-row,
.info-section,
.form-heading {
    background-color: #495579;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
    border: 3px dashed #495579;
    padding-bottom: 10px;
}

.form-heading {
    padding: 10px;
}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
    text-align: center;
}

.post-name,
.post-title-section, .new-page {
    padding-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}
header h1 {
    font-size: 1em;
}

.site-row {
    display: flex;
    border-bottom: 1px solid #263159;
    justify-content: center;
}
/* .site-name to adjust tech support name */
.site-name {
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    
}
main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
}

.delete-post-btn {
    background-color: #a31111;
}

.delete-post-btn:hover {
    background-color: #e13910;
}

.post {
    margin-bottom: 2%;
    line-height: 70%;
    border: 4px solid black;
    border-radius: 0px;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #6d6565;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    color: #FFFBEB;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.comment:nth-child(odd) {
    background-color: white;
    border-radius: 5px;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    border-radius: 5px;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

#comment-subtitle {
    font-size: 16px;
    font-style: bold;
}

.new-post-section {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#create-new-post {
    width: 15%;
}

.sign-in-link,
.login-link {
    color: #e1e110;
}

.form-heading h1,
.form-heading h2 {
    color: white;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
    padding: 20px 20px 0px 0px;
    border-radius: 5px;
}

.entry-field,
.login-signup-btn,
.btn,
#post-title {
    width: 100%;
}